@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.WOFF") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  src: url("../fonts/SourceSansPro-SemiBold.WOFF") format("woff"), url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 800;
  src: url("../fonts/SourceSansPro-Bold.WOFF") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"); }
html, body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-family: "Source Sans Pro";
  color: #ffffff; }
  html *, body * {
    padding: 0;
    margin: 0;
    border: none; }

@media (max-width: 720px) {
  body {
    overflow-x: hidden; } }

a {
  color: #2aa5d1;
  text-decoration: none;
  pointer-events: all; }

ul#tweet-list {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: left;
  -moz-justify-content: left;
  -ms-justify-content: left;
  -o-justify-content: left;
  justify-content: left;
  position: relative;
  list-style-type: none;
  width: 100%; }
  @media (max-width: 720px) {
    ul#tweet-list {
      -webkit-align-items: baseline;
      -moz-align-items: baseline;
      -ms-align-items: baseline;
      -o-align-items: baseline;
      align-items: baseline; } }

li {
  position: relative;
  max-width: 500px;
  padding: 24px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.6); }
  @media (max-width: 480px) {
    li {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center;
      border-radius: 0; } }

.hidden {
  display: none; }

#main {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  flex-wrap: wrap;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem; }
  @media (max-width: 480px) {
    #main {
      padding-left: 0;
      padding-right: 0; } }

.header {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  width: 100%; }
  @media (max-width: 720px) {
    .header {
      flex-wrap: wrap;
      text-align: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center; }
      .header .logo {
        flex-basis: 100%; }
      .header .buttons {
        margin-top: 30px; }
        .header .buttons a {
          display: block;
          width: 100%; }
          .header .buttons a:first-child {
            margin-bottom: 4px; }
          .header .buttons a button {
            width: 100%; }
            .header .buttons a button#timeline {
              margin-left: 0;
              margin-right: 0; } }

/*
.buttons{
  position: fixed;
  top: 53px;
  right: 30px;

  @include breakpoint(s){
    position: relative;
    top: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;
    margin-bottom: 30px;

    a{
      display: block;
      width: 100%;

      &:first-child{
        margin-bottom: 4px;
      }

      button{
        width: 100%;

        &#timeline{
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
*/
.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4; }

.header {
  position: relative;
  padding-top: 24px;
  margin-bottom: 24px; }

.tweet-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.profile-info {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
  text-align: left; }
  @media (max-width: 480px) {
    .profile-info {
      display: block;
      text-align: center; } }

.profile-pic {
  flex-basis: 0;
  margin-right: 8px; }
  .profile-pic > img {
    border-radius: 50%; }
  @media (max-width: 480px) {
    .profile-pic {
      margin-right: 0;
      margin-bottom: 8px; } }

.full-name {
  font-size: 1.2rem;
  line-height: 1; }
  @media (max-width: 480px) {
    .full-name {
      font-size: 0.9rem;
      line-height: 1.1; } }

.tweet-text {
  font-size: 1.6rem;
  margin-top: 10px;
  margin-bottom: 16px; }
  @media (max-width: 480px) {
    .tweet-text {
      font-size: 1rem; } }

.tweet-info {
  position: relative;
  z-index: 2;
  pointer-events: none; }

.media-container {
  max-height: 400px;
  width: 100%;
  text-align: center;
  overflow: hidden; }
  .media-container img {
    width: 100%; }

.timestamp {
  color: #c7c7c7;
  display: block;
  margin-top: 16px; }

.timestamp, .screen-name {
  font-size: 1rem;
  color: #c7c7c7; }
  @media (max-width: 480px) {
    .timestamp, .screen-name {
      font-size: 0.75rem; } }

.button-container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: left;
  -moz-justify-content: left;
  -ms-justify-content: left;
  -o-justify-content: left;
  justify-content: left;
  position: relative;
  width: 100%; }
  .button-container a {
    color: #ffffff;
    text-decoration: none; }
    .button-container a:first-child {
      margin-right: 5px; }
    .button-container a:last-child {
      margin-left: 5px; }

button {
  height: 33px;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.11em;
  line-height: 33px;
  text-transform: uppercase;
  background-color: #2aa5d1;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  cursor: hand;
  outline: none; }
  @media (max-width: 720px) {
    button {
      font-size: 0.8rem; } }
  button#timeline {
    background-color: #94b933;
    margin-right: 10px; }

button:active, a:active {
  outline: 0;
  border: 0; }

/*# sourceMappingURL=style.css.map */
