@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1281px) { @content; }
  }

  @if $point == l {
    @media (max-width: 1280px) { @content; }
  }

  @if $point == m {
    @media (max-width: 1020px) { @content; }
  }

  @if $point == m-s {
    @media (max-width: 900px) { @content; }
  }

  @if $point == s {
    @media (max-width: 720px) { @content; }
  }

  @if $point == s-up {
    @media (min-width: 721px) { @content; }
  }

  @if $point == xs {
    @media (max-width: 480px) { @content; }
  }

  @if $point == xs-up {
    @media (min-width: 481px) { @content; }
  }
}

@mixin prefixr($property, $value, $prefixes: (webkit, moz, ms, o) ) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }
  @if($property==display and $value==flex){
    @each $prefix in $prefixes {
      #{$property}: -#{$prefix}-#{$value};
    }
  }
  #{$property}: #{$value};
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.WOFF') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SourceSansPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  src: url('fonts/SourceSansPro-SemiBold.WOFF') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SourceSansPro-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 800;
  src: url('fonts/SourceSansPro-Bold.WOFF') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SourceSansPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

$link-color: #2aa5d1;
$secondary-color: #c7c7c7;
$max-width: 500px;

html, body{
  width: 100%;
  height: 100%;
  *{
    padding: 0;
    margin: 0;
    border: none;
  }

  background-color: #000000;
  font-family: "Source Sans Pro";
  color: #ffffff;

  @include breakpoint(s){
    overflow-x: hidden;
  }
}

a{
  color: $link-color;
  text-decoration: none;
  pointer-events: all
}

ul#tweet-list{
  @include prefixr(display, flex);
  @include prefixr(align-items, center);
  @include prefixr(justify-content, left);
  position: relative;
  list-style-type: none;
  width: 100%;
}

li{
  position: relative;
  max-width: $max-width;

  padding: 24px;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.6);

  @include breakpoint(xs){
    @include prefixr(flex-wrap, wrap);
    text-align: center;
    border-radius: 0;
  }
}

.hidden{
  display: none;
}

#main{
  @include prefixr(display, flex);
  @include prefixr(align-items, baseline);
  flex-wrap: wrap;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;

  @include breakpoint(xs){
    padding-left: 0;
    padding-right: 0;
  }
}

.header{
  @include prefixr(display, flex);
  @include prefixr(align-items, center);
  @include prefixr(justify-content, space-between);
  width: 100%;

  @include breakpoint(xs){
    flex-wrap: wrap;
    text-align: center;
    @include prefixr(justify-content, center);

    .logo{
      flex-basis: 100%;
    }

    .send-tweet-bt{
      margin-top: 30px;
    }
  }
}

.slideshow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}

.header{
  position: relative;
  padding-top: 24px;
  margin-bottom: 24px;
}

.tweet-bg{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-info{
  @include prefixr(display, flex);
  @include prefixr(align-items, center);
  position: relative;
  z-index: 1;
  pointer-events: none;
  text-align: left;

  @include breakpoint(xs){
    display: block;
    text-align: center;
  }
}

.profile-pic{
  flex-basis: 0;
  margin-right: 8px;

  > img{
    border-radius: 50%;
  }

  @include breakpoint(xs){
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.full-name{
  font-size: 1.2rem;
  line-height: 1;

  @include breakpoint(xs){
    font-size: 0.9rem;
    line-height: 1.1;
  }
}

.tweet-text{
  font-size: 1.6rem;
  margin-top: 10px;
  margin-bottom: 16px;

  @include breakpoint(xs){
    font-size: 1rem;
  }
}

.tweet-info{
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.media-container{
    max-height: 400px;
    width: 100%;
    text-align: center;
    overflow: hidden;

    @include breakpoint(xs){
      max-width: 320px;
    }

    img{
      width: 100%;
    }
}

.timestamp{
  color: $secondary-color;
  display: block;
  margin-top: 16px;
}

.timestamp, .screen-name{
  font-size: 1rem;
  color: $secondary-color;

  @include breakpoint(xs){
    font-size: 0.75rem;
  }
}

.button-container{
  @include prefixr(display, flex);
  @include prefixr(align-items, center);
  @include prefixr(justify-content, left);
  position: relative;
  width: 100%;

  a{
    color: #ffffff;
    text-decoration: none;
    &:first-child{
      margin-right: 5px;
    }
    &:last-child{
      margin-left: 5px;
    }
  }
}

button{
  height: 33px;
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0.11em;
  line-height: 33px;
  text-transform: uppercase;
  background-color: $link-color;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  cursor: hand;
  outline: none;
}

button, a{
  &:active{
    outline: 0;
    border: 0;
  }
}
